#Intentamos analizar de forma previa los datos

In [1]:
import pandas as pd
import matplotlib as plot

In [3]:
train=pd.read_table('../inputs/train.tsv')
train['len']=train['item_description'].str.len()
train['cant']=1
train.head(20)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,len,cant
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,18.0,1
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,188.0,1
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,124.0,1
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,173.0,1
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,41.0,1
5,5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma...",102.0,1
6,6,Acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,Acacia Swimwear,64.0,0,Size small but straps slightly shortened to fi...,83.0,1
7,7,Girls cheer and tumbling bundle of 7,3,Sports & Outdoors/Apparel/Girls,Soffe,6.0,1,You get three pairs of Sophie cheer shorts siz...,268.0,1
8,8,Girls Nike Pro shorts,3,Sports & Outdoors/Apparel/Girls,Nike,19.0,0,Girls Size small Plus green. Three shorts total.,48.0,1
9,9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...,297.0,1
10,10,Smashbox primer,2,Beauty/Makeup/Face,Smashbox,8.0,1,0.25 oz Full size is 1oz for [rm] in Sephora,44.0,1
11,11,New vs pi k body mists,1,Beauty/Fragrance/Women,Victoria's Secret,34.0,0,(5) new vs pink body mists (2.5 oz each) Fresh...,108.0,1
12,12,Black Skater dress,2,"Women/Dresses/Above Knee, Mini",rue,16.0,0,"Xl, great condition",19.0,1
13,13,Sharpener and eraser,1,Other/Office supplies/School Supplies,Scholastic,4.0,1,No description yet,18.0,1
14,14,HOLD for Dogs2016 Minnetonka boots,3,Women/Shoes/Boots,UGG Australia,43.0,0,Authentic. Suede fringe boots. Great condition...,194.0,1
15,15,Sephora tarte birthday gift,1,Beauty/Makeup/Makeup Sets,Tarte,11.0,1,Brand new. Deluxe travel size products. Contai...,151.0,1
16,16,Glitter Eyeshadow,1,Beauty/Makeup/Eyes,Wet n Wild,6.0,1,2 glitter eyeshadows; one in Brass and one in ...,55.0,1
17,17,New: Baby K'tan active baby carrier,1,Kids/Gear/Backpacks & Carriers,NaN,29.0,1,Brand new in box Size: Medium Color: Coral Ret...,423.0,1
18,18,"Too Faced Limited ""Merry Macaroons""",1,Beauty/Makeup/Makeup Palettes,Too Faced,25.0,1,This AUTHENTIC pallete by Too Faced is brand n...,307.0,1
19,19,Cream/ Beige Front Cross Shirt,2,Women/Tops & Blouses/Blouse,Anthropologie,27.0,0,"Fancy, dressy or casual! Dress it up or down 1...",193.0,1

In [4]:
ag=['name','category_name','brand_name']
t1=train.groupby(ag)['cant'].sum().astype('float').reset_index()
pd1.columns=ag+['count']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['price'].mean().astype('float').reset_index()
t1.columns=ag+['media']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['price'].max().astype('float').reset_index()
t1.columns=ag+['max']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['price'].min().astype('float').reset_index()
t1.columns=ag+['min']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['price'].std().astype('float').reset_index()
t1.columns=ag+['std']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['len'].mean().astype('float').reset_index()
t1.columns=ag+['len_avg']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['len'].min().astype('float').reset_index()
t1.columns=ag+['len_min']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['len'].max().astype('float').reset_index()
t1.columns=ag+['len_max']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
t1=train.groupby(ag)['len'].std().astype('float').reset_index()
t1.columns=ag+['len_std']
pd1=pd1.merge(t1,how='inner',left_on=ag,right_on=ag)
pd1=pd1.set_index(ag)
pd1.head()

NameError: name 'pd1' is not defined

In [ ]:
pdp=pd1[['count']].sort_values(by='count',ascending=False)

In [ ]:
%matplotlib notebook
pdp.plot(kind='line')

In [ ]:
ag=['name','category_name','brand_name']
t1=train.groupby(ag)['cant'].sum().astype('int')
t1.head()

In [ ]:
len(train),train['cant'].sum(),sum(t1)

In [ ]:
len(t1),

In [4]:
ag=['name','category_name','brand_name']
t1=train.groupby(ag,as_index=False)['cant'].sum()

In [ ]:
t1.reindex()

In [6]:
t1['cant'].sum()

846983